body {
  text-align: center;
  background: lightblue;
  font-family: Arial;
}

.box {
  width: 100px;
  height: 100px;
  background: green;
  margin: 50px auto;
  border-radius: 10px;
  transition: transform 0.5s, background 0.5s;
}

.box:hover {
  transform: scale(1.68) rotate(360deg);
  background: red;
}
