body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    border: 2px solid black;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgb(0, 0, 0);
    background-color: rgb(227, 204, 151);
}

h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    margin-top: 5px;
}
